{% extends 'layout.html' %}

{% block title %} {% endblock %}

{% block head %}

<h1>Все категории:</h1>

{% endblock %}
{% block content %}


<ul>
        {% for i in category %}
            <li>
                <a href="{% url 'get_category' i.name %}" class="">
                    <h4><span class="badge text-bg-secondary">
                        {{ i.name }}
                    </span></h4></a>

            </li>
        {% empty %}
            <li>Ошибка! Категорий не найдено.</li>
        {% endfor %}
    </ul>


{% endblock %}
{% block foot %}


{% endblock %}

